.animated-button {
       position: relative;
       display: flex;
       align-items: center;
       gap: 4px;
       padding: 16px 36px;
       border: 4px solid;
       border-color: transparent;
       font-size: 16px;
       background-color: inherit;
       border-radius: 100px;
       font-weight: 600;
       color: #80a3d6;
       box-shadow: 0 0 0 2px  #80a3d6;
       cursor: pointer;
       overflow: hidden;
       transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
     }
     
     .animated-button svg {
       position: absolute;
       width: 24px;
       fill: #80a3d6;
       z-index: 9;
       transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
     }
     
     .animated-button .arr-1 {
       right: 16px;
     }
     
     .animated-button .arr-2 {
       left: -25%;
     }
     
     .animated-button .circle {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       width: 20px;
       height: 20px;
       background-color: #6694da;
       border-radius: 50%;
       opacity: 0;
       transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
     }
     
     .animated-button .text {
       position: relative;
       z-index: 1;
       transform: translateX(-12px);
       transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
     }
     
     .animated-button:hover {
       box-shadow: 0 0 0 12px transparent;
       color: #80a3d6;
       border-radius: 12px;
     }
     
     .animated-button:hover .arr-1 {
       right: -25%;
     }
     
     .animated-button:hover .arr-2 {
       left: 16px;
     }
     
     .animated-button:hover .text {
       transform: translateX(12px);
     }
     
     .animated-button:hover svg {
       fill: white;
     }
     
     .animated-button:active {
       scale: 0.95;
       box-shadow: 0 0 0 4px #80a3d6;
     }
     
     .animated-button:hover .circle {
       width: 220px;
       height: 220px;
       opacity: 1;
     }
     .scroll-to-top{
        padding-left: 5px;
        background-color:rgb(51, 174, 222) !important;
     }
     .container {
     
      
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      bottom: 17rem;
      z-index: 50;
    }
    
    .field {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 300px;
    }
    

    .scroll {
      width: 60px;
      height: 60px;
      border: 3px solid #447acb;
      border-radius: 50%;
      position: relative;
      animation: down 1.5s infinite;
      -webkit-animation: down 1.5s infinite;
      &::before {
        content: '';
        position: absolute;
        top: 15px;
        left: 18px;
        width: 18px;
        height: 18px;
        border-left: 2px solid #598ad4;
        border-bottom: 2px solid #4d85d8;
        transform: rotate(-45deg);
      }
    }
    
    @keyframes down {
      0% {
        transform: translate(0);
      }
      20% {
        transform: translateY(15px);
      }
      40% {
        transform: translate(0);
      }
    }
    
    @-webkit-keyframes down {
      0% {
        transform: translate(0);
      }
      20% {
        transform: translateY(15px);
      }
      40% {
        transform: translate(0);
      }
    }
    
    .arrow {
      width: 0;
      height: 40px;
      border: 1px solid #333;
      position: relative;
      animation: scroll 1.5s infinite;
      -webkit-animation: scroll 1.5s infinite;
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: -5px;
        width: 1px;
        height: 10px;
        
  
        border-top: 10px solid #333;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }
    }
    
    @keyframes scroll {
      0% {
        height: 40px;
      }
      30% {
        height: 70px;
      }
      60% {
        height: 40px;
      }
    }
    
    @-webkit-keyframes scroll {
      0% {
        height: 40px;
      }
      30% {
        height: 70px;
      }
      60% {
        height: 40px;
      }
    }