
  @import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lilita+One&family=Merriweather:ital,wght@1,900&family=Oswald:wght@700&family=Roboto+Condensed:ital,wght@1,700&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.App {
  text-align: center;
  font-family: 'Quicksand',cursive;
  background: rgb(181,251,178);
background: -moz-linear-gradient(48deg, rgba(181,251,178,1) 0%, rgba(248,202,148,1) 68%);
background: -webkit-linear-gradient(48deg, rgba(181,251,178,1) 0%, rgba(248,202,148,1) 68%);
background: linear-gradient(48deg, rgba(181,251,178,1) 0%, rgba(248,202,148,1) 68%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b5fbb2",endColorstr="#f8ca94",GradientType=1);
}

