@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@keyframes slideToRight{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100%);
  }
}
.animate-slideToRight{
  animation: slideToRight 0.5s ease-in-out forwards;
}
.scroll-to-top{
  padding-left: 5px;
  background-color:rgb(51, 174, 222) !important;
}